@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;

  background-color: red; /* Old browsers */
  text-align: center;

}